html {
    height: 100%;
}

body {
    min-height: 100%;
    display: block;
    padding: 0;
    margin: 0;
}

body, main, footer {
    box-sizing: border-box;
    position: relative;
}

body.navigation nav {
    left: $spacing-none;
    top: $spacing-none;
    width: $size-medium;
    padding: $spacing-none;
    position: fixed;
    height: 100%;
    overflow: auto;
}

body.navigation main,
body.navigation footer {
    padding: $spacing-x-large;
    max-width: $size-xx-small + $size-x-large + $size-xx-small;
    margin-left: $size-medium;
}

body.document main section,
body.document footer section {
    padding: $spacing-x-large;
    max-width: $size-xx-small + $size-x-large + $size-xx-small;
    margin: 0 auto;
}

body.document main section.monospace {
    font-family: monospace
}

body.document main section .document-title {
    color: $color-text-inverse;
    background: $color-background-inverse;
    padding: $spacing-medium;
}

body.presentation main section{
    min-height: 56vh; /* 16:9 */
}

body.presentation main section .content,
body.presentation footer section .content {
    padding: $spacing-x-large;
    max-width: $size-xx-large;
    margin: 0 auto;
}