html {
    height: 100%;
}

body {
    min-height: 100%;
    display: block;
    padding: 0;
    margin: 0;
}

body, main, footer {
    box-sizing: border-box;
    position: relative;
}

body.with-navigation nav {
    left: $spacing-none;
    top: $spacing-none;
    width: $size-medium;
    padding: $spacing-none;
    position: fixed;
    height: 100%;
    overflow: auto;
}

body.navigation main,
body.navigation footer {
    padding: $spacing-x-large;
    max-width: $size-xx-large;
    margin-left: $size-medium;
}

body.document main section,
body.document footer section {
    padding: $spacing-x-large;
    max-width: $size-xx-small + $size-x-large + $size-xx-small;
    margin: 0 auto;
}

body.presentation main section{
    min-height: 56vh;
}

body.presentation main section .document,
body.presentation footer section .document {
    padding: $spacing-x-large;
    max-width: $size-xx-large;
    margin: 0 auto;
}